




/*@font-face {*/
    /*font-family: "Open Sans Regular";*/
    /*src: url(../fonts/OpenSans-Regular.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: "Open Sans Bold";*/
    /*src: url(../fonts/OpenSans-Bold.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: "Open Sans Light";*/
    /*src: url(../fonts/OpenSans-Light.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: "Montserrat Bold";*/
    /*src: url(../fonts/Montserrat-Bold.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: "Montserrat Light";*/
    /*src: url(../fonts/Montserrat-Light.ttf);*/
/*}*/

/*@font-face {*/
    /*font-family: "Montserrat Light";*/
    /*src: url(../fonts/Montserrat-Light.ttf);*/
/*}*/

body{
    /* width: 100%; */
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /*line-height: 1.42857143;*/
    color: #000000;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /*line-height: 1.1;*/
    color: #000000;
}


.uk-hr-heading{
    border-top: 2px solid #000000;
    margin-bottom: 5px;
}

.uk-menu .uk-subnav a{
    font-weight: bolder;
    color: #000000;
    font-size: 12px;
}

.uk-menu .uk-subnav-pill > .uk-active > a {
    background-color: #000;
    color: #fff !important;
}


.uk-button-menu{
    line-height:28px !important;
    border: 1px solid #000000;
    font-weight: bold;
}

.uk-button-menu:hover{
    background-color: #000000;
    color: #ffffff;
}

.uk-button-menu-reverse{
    line-height:28px !important;
    border: 1px solid #ffffff;
    font-weight: bold;
}

.uk-button-menu-reverse:hover{
    background-color: #ffffff !important;
    color: #000000 !important;
}


.uk-menu .uk-icone a.uk-icon{
    border: 1px solid;
    border-radius: 50%;
    padding: 4px;
    color: #000000;
}

.uk-menu .uk-icone-noborder a.uk-icon{
    border: none;
}



.uk-menu .uk-icone a.uk-icon:hover{
    background-color: #000000;
    color: #ffffff;
}

.uk-menu .uk-icone > li:last-child{
    padding-left: 6px;
}

.uk-button, .uk-navbar-nav > li > a, .uk-navbar-nav > li > a:hover{
    color: #000000;
}


.uk-menu .uk-navbar-nav.uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before{
    border-left: 1px solid #000000;
}


.uk-menu .uk-navbar-nav > li > a{
    height: auto;
    padding: 0;
}

.uk-menu .uk-navbar-nav > li{
    /*height: 50px;*/
    padding: 0 15px;
}

.uk-menu .uk-img-pc{
    height: 53px;
}

@media (min-width: 640px){
    .uk-img-banner-container {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media (min-width: 960px){
    .uk-img-banner-container {
        margin-left: -40px;
        margin-right: -40px;
    }
}

.uk-menu .uk-background-default{
    background-color: #FFFFFF;

}

.uk-background-default{
    background-color: #f6f6f6;
}


.uk-navbar-container.uk-background-default{
    background-color: #fff;
}

.uk-categorie{
    font-size: 11px;
    font-weight: lighter;
}

.uk-categorie a {
    font-weight: bold;
}


.uk-categorie, .uk-categorie a, .uk-auteur, .uk-auteur .uk-link-reset{
    color: #000;
}

.uk-auteur{
    font-size: 10px;
    font-weight: lighter;
}

.uk-auteur .uk-link-reset{
    font-weight: bolder;
}

.uk-article-titre a{
    color: #000000;
    text-decoration: none;
}

.uk-article-description{
    font-size: 13px;
    text-align: justify;
}

.uk-height-content.dotdot{
    max-height: 5em;
}

.uk-card-default{
    color: #000000 !important;
}

.uk-card-article{
    border-bottom: 4px solid #000000;
}

.uk-height-content-article.dotdot{
    max-height: 4em;
    font-size: 12px;
}

.uk-article-titre-categorie {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 5px;
    /*margin-top: 5px;*/
}

.uk-table .uk-article-titre-categorie{
    margin-top: 0 !important;
}

.uk-instagram .uk-card-title{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    border-bottom: 4px solid #eeeeee;
    display: inline-block;
    line-height: 40px;
}

.uk-instagram .uk-card-header{
    border-bottom: none;
}

.uk-festival{
    color: #FFFFFF !important;
    background-color: #fff;
}

.uk-festival .uk-title-countdown{
    /*color: #FFFFFF;*/
    font-family: "Open Sans", sans-serif;
    font-weight:lighter;
    margin-bottom: 5px;
    display: block;
    width: auto;
    border-bottom: 4px solid;
}

.uk-countdown .uk-countdown-number, .uk-countdown .uk-countdown-separator{
    font-size: 2rem;
    font-weight: lighter;
}

.uk-countdown .uk-countdown-label{
    margin: 0 !important;
    font-size: 12px;
}

.uk-festival .uk-infos{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.uk-festival .uk-button-menu{
    /*color: #FFFFFF;*/
    border: 4px solid;
}

.uk-festival .uk-button-menu:hover{
    color: #FFFFFF;
    border: 4px solid #ffffff;
    background-color: transparent;
}

.uk-recent .uk-card-title{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: lighter;
}

.uk-recent .uk-card-header{
    border-bottom: none;
}

.uk-populaire .uk-card-title{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}


.uk-populaire{
    font-size: 10px;
}

.uk-populaire td.uk-card-title{
    font-size: 11px;
    /*font-weight: bold;*/
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

}

.uk-dossier .uk-heading-line > :before, .uk-dossier .uk-heading-line > :after {
    border-bottom: 2px solid #000;
}

.uk-dossier .uk-card-header{
    border-bottom: none;
}

.uk-dossier .uk-card-title {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.uk-dossier .uk-card-default{
    background-color: #bfbfbf;
}

.uk-pc .uk-card-title span:first-child{
    font-weight: lighter;
}


.uk-social-reverse .uk-subnav > *{
    padding-left: 10px;
}

.uk-social-reverse .uk-icone{
    color: #ffffff;
}

.uk-social-reverse .uk-icone a.uk-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 4px;
    color: #ffffff;
}

.uk-social-reverse .uk-icone a.uk-icon:hover{
    background-color: #fff;
}

.uk-social-reverse .uk-icone svg{
    fill: white;
}

.uk-social-reverse .uk-icone a.uk-icon:hover svg{
    fill: black;
}

.uk-footer .uk-border{
    border-top: 2px solid #FFFFFF;
    padding-top: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.uk-modal-search .uk-modal-dialog {
    background-color: rgba(0, 0, 0, .9);
}

.uk-modal-search .uk-search {
    background-color: #fff;
}

.uk-modal-search .uk-search-input {
    color: #000000;
}

.uk-heading-categorie .uk-heading, .uk-heading-categorie .uk-heading .uk-heading{
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    margin-bottom: 0 !important;
}


.uk-heading-categorie a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.uk-article-button a.uk-button-secondary{
    color: #FFFFFF;
}


.uk-article-button a.uk-button-default{
    color: #000000;
    border-color: #000000;
}

.uk-article-description-italic{
    font-style: italic;
    font-size: 14px;
}

.uk-article-meta{
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

.uk-article-date {
    font-size: 11px;
}

.uk-button-article, .uk-button-article:hover {
    font-size: 11px;
    text-transform: capitalize;
    color: #000000;

}

.uk-bg-default .uk-button-article{
    color: #FFFFFF;
    text-transform: uppercase;
}

.uk-bg-default-inverse .uk-button-article{
    border: 2px solid #000000;
}

.uk-card-content{
    font-size: 14px;
}

.uk-comment {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.uk-comments .uk-heading-divider{
    border-bottom: 3px solid #000000;
}

.uk-comments .uk-comment-meta{
    color: #000;
}

.uk-comments .uk-comment-body{
    font-size: 14px;
}

.uk-block{
    border-top: 2px solid #000000;
}

.uk-block-content{
    font-size: 14px;
    text-align: justify;
}

.uk-border-top{
    border-top: 3px solid #000000;
}

.uk-pub img{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.uk-background-secondary.uk-active{
    color: #ffffff;
}

@media (max-width: 815px) {

    .uk-body{
        padding-bottom: 0 !important;
    }

    .uk-menu .uk-navbar-nav > li{
        padding: 0 6px !important;
    }

    .uk-block-logo{
        margin: 0 !important;
    }

    .uk-offcanvas-bar .uk-nav-primary > li > a {
        color: rgba(0, 0, 0, 0.5) !important;
    }

    .uk-block-logo .uk-logo img{
        height: 50px !important;
    }

    .uk-body .uk-container{
        padding-left: 0px;
         padding-right: 0px;
    }

    .uk-cover-mobile{
        padding:  0 !important;
        padding-bottom: 10px !important;
    }
    .uk-cover-mobile .article-cover{
        font-size: 20px !important;
    }

    .uk-card-img img{
        height: 100%;
    }

    .uk-festival .uk-countdown-custom{
        padding: 10px 20px !important;
    }
    .uk-festival .uk-logo{
        margin-left: 20px !important;
    }

    .uk-after-festival{
        padding: 0 !important;
    }

    .uk-footer .uk-border{
        padding: 15px 0 15px 0px !important;
        margin: 0 20px !important;
    }

    .uk-offcanvas-bar{
        background-color: #fff !important;
        color: rgba(0, 0, 0, 0.7);;
    }

    .uk-categorie{
        padding: 0 !important;
    }

    .uk-categorie .uk-heading-categorie{
        padding: 15px !important;
    }
    .uk-article-titre-categorie{
        margin-top: 0 !important;
    }


    .uk-home-festival .uk-menu .uk-height-small{
        height: 100%;

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .uk-home-festival .uk-menu .uk-height-small .uk-navbar-left{
        width: 50%;
        margin-top: 0 !important;
        padding: 20px 0 !important;
    }

    .uk-home-festival .uk-menu .uk-height-small .uk-navbar-center{
        position: relative;
        width: auto;
    }

    .uk-home-festival .uk-logo{
        width: auto;
    }


}